
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(112,128,144,1),rgba(119,136,153,0.6));
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #DCDCDC;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    background:#008080;
    border-radius: 112px;
    
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: aliceblue;
    border-radius: 10px;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #000000, #2F4F4F);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s; 
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #000000, #2F4F4F); 
    border: 0;
    outline: none;
    border-radius: 30px; 
    color: aliceblue;
    margin-left: 32px;
    
}

.check-box{
    margin: 30px 10px 30px 0;  
    
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute; 
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

select{
    border: 1px solid #A9A9A9;
    padding: .8rem 2.6rem .8rem .5rem; 
    border-radius: 3px; 
    color: #565656;
    background: #DCDCDC;
    appearance: none;   
    text-align-last: center;
    padding-right: 2;
}

.user-type{
    display: inline-block;
    position: relative;
    left: 40;
}


.user-type::-ms-expand {
	display: none;
}
.user-type:hover {
	border-color: #778899;
}
.user-type:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.user-type option {
	font-weight:normal;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.password{
    width: 260;   
}

span{
    display: inline;
    overflow: hidden;
    padding: 0 4px 0 6px
}

#eye{
  width: 28px;
  float: right;
  margin-left: 0px;
  margin-bottom: 45px;
  margin-right: -25px;
  margin-top: 40px;
  position: relative;
  z-index: 2;
}