.contest_category
{
    font-size:2rem;
    font-weight:lighter;
    margin-top:25px;
    align-self:center;
    animation:slidein 0.5s forwards;
    opacity:0;
    transform:translateY(-50px);
}

a
{
    color:#76D7C4;
}

@keyframes slidein {
    100%
    {
        transform: translateY(0);
        opacity:1;
    }
}


.contest
{
    animation:slidein 0.5s forwards;
    opacity:0;
    transform:translateY(-50px);
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    border:2px solid #76D7C4;
    padding: 15px;
    margin:15px 0 15px 0;
    width: 100%;
    border-radius:5px;
    color:black;
    height:fit-content;    
    font-weight: 300;
    font-style:italic;
    font-size:1.5rem;
    justify-content:center;
    overflow:hidden;
}

.hostedby
{
    display: inline-block;
    margin: 0 auto;
}
.hostedby::before
{
    display: inline-block;
    margin: 0px 10px 5px 0px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #76D7C4;
    width:25px;
}

.hostedby::after
{
    display: inline-block;
    margin: 0px 0px 5px 10px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #76D7C4;
    width:25px;
}

.description
{
    display:flex;
    text-align:justify;
    align-items:center;
    font-family:'Roboto', sans-serif;
    font-style:normal;
    font-size:1.2rem;
    height:fit-content;
    padding:20px 0;
    margin-top: 10px;    
}

.contestfooter
{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas: "date participate viewdetails";
    font-family:'Roboto', sans-serif;
    margin:auto;
    margin-left:0;
    font-style:normal;
    font-size:1.2rem;
    height:fit-content;
    padding:10px 0;
    margin-top: 10px; 
    width:100%;
}

@media screen and (max-width: 769px)
{
    .contest
    {
        font-size:1.1rem;
        width:90%;
    }

    .description
    {
        font-size:1rem;
        line-height: 1.5em;
    }

    .hostedby::before,.hostedby::after
    {
        width:0;
        content:"";
        margin:0;
    }
        
    .contestfooter
    {
        border-top:1px solid #76D7C4;
        padding-top:20px;
        text-align:center !important;
        grid-row-gap:1.2em;
        grid-template-columns:1fr;
        grid-template-areas:
        'date' 
        'participate'
        'viewdetails';
        font-size:1rem;
    }

    .nores
    {
        font-size:1rem !important;
        margin:10px auto 25px auto !important;
    }
}