:root
{
    --background:white; /* not used for now*/
    --text:black;
    --font:'Nunito Sans', sans-serif;
    --buttoncol:#76D7C4;
}

/*body::-webkit-scrollbar //used to hide scrollbar in chrome,safari,opera
{
    width:0 !important
}*/

html
{
 height:100%;
 width:100%;
}

body
{
    font-family:'Nunito Sans', sans-serif;
    margin:0;
    font-family:var(--font);
    color:var(--text);
    scroll-behavior: smooth;
}

hr
{
    height:2px;
    background-color:#76D7C4; /*for fucking internet explorer which does not support css variables*/
    background-color:var(--buttoncol);
    border:none;
    margin-bottom:30px;
    margin-left:2.5%;
    margin-top:0;
}

#overlay
{
    position: fixed;
    height:100%;
    opacity:0;
    width:100%;
    top:0;
    background-color: black;
    z-index:-1;
}

#menu
{
    position: fixed;
    top:0;
    right:0;
    background-color:#76D7C4;
    background-color:var(--buttoncol);
    height:100%;
    width:0;
    z-index:3;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    transition: width 0.25s ease-in-out;
    overflow:hidden;
}

#menu #close
{
    cursor:pointer;
    position: absolute;
    right:20px;
    top:20px;
    height:40px;
    width:40px;
}

#menu a
{
    text-decoration:none;
    font-size:1.5rem;
    font-weight: 300;
    margin-bottom:15px;
    text-overflow:ellipsis;
    color:white;
    overflow:hidden;
    width:fit-content;
    text-align: center;
    white-space: nowrap;
    transition: color 0.2s ease-in-out;
}

#menu a:hover
{
    color:#148F77;
}

#menu #active
{
    cursor:default;
    color:#148F77;
    font-style:italic;
}


#home
{
    position: absolute;
    background-image:linear-gradient(to top, rgba(23, 32, 42, 0.20), rgba(0, 0, 0, 0.80)),url(bg.jpg);
    background-size: cover;
    top:0;
    left:0;
    right:0;
    height:100%;
    color:white;
}

#home #logo
{
    margin-top:15px;
    margin-left:20px;
}

#home #title
{
    position: absolute;
    display:inline-block;
    font-size:1.5rem;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top:23px;
    margin-left:10px;
}

#home #listicon
{
    height:45px;
    width:45px;
    position: absolute;
    margin-top:12px;
    cursor: pointer;
    z-index:1;
    right:20px;
}

#home #user
{
    height:23px;
    width:22px;
    position: absolute;
    margin-top:23px;
    cursor:pointer;
    right:85px;
    z-index:1;
}


#home #maininfo
{
    position: absolute;
    display:flex;
    align-items:center;
    width:100%;
    height:100%;
    bottom:0;
    overflow:hidden;
}

#home #maininfo #content
{
    font-size:3.5rem;
    font-style:italic;
    font-weight:lighter;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width:100%;
}

#home #maininfo #content #text
{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

#home #maininfo #content #text #evolve
{
    display:flex;
    margin-left:13px;
    transition:all 0.2s ease-in-out;
}

#home #maininfo #content #info
{
    margin-top:-15px;
    font-size:1.2rem;
    max-width:80%;
    display:flex;
}

#home #maininfo #content #buttonholder
{
    margin:auto;
    margin-top:40px;
    width:85%;
    height:60px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

#home #maininfo #content #buttonholder .button
{
    font-style:normal;
    border:2px solid white;
    font-size:1.2rem;
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:90%;
    text-align: center;
    width:49%;
    transition:all 0.2s ease-in-out;
}


@media only screen and (max-width: 768px) {

#home
{
    background-position: right;
}

#home #logo
{
    margin-left:15px;
}

#home #listicon
{
    margin-top:15px;
    right:15px;
}

#home #user
{
    margin-top:26px;
}


#home #maininfo #content
{
    font-size:2.25rem;
}

#home #maininfo #content #text #evolve
{
    margin-left:10px;
}

#home #maininfo #content #info
{
    font-size:1.1rem;
    width:75%;
    text-align: justify;
    margin-bottom:10px;
}

#others .contestsholder #desc
{
    font-size:1.1rem;
    width:85%;
    text-align: center;
}

#home #maininfo #content #buttonholder
{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:fit-content;
    width:75%;
}

#home #maininfo #content #buttonholder .button
{
    font-size:1.1rem;
    width:100%;
    margin-top:10px;
    margin-bottom:0;
    height:50px;
}

}

#home #maininfo #content #buttonholder .button:hover
{
    color:#76D7C4;
    cursor:pointer;
    border:2px solid #76D7C4;
}

#others
{
    position:absolute;
    top:100%;
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#others .label,#maindash .label
{ 
    align-self: flex-start;
    display:flex;
    font-size:1.8rem;
    font-weight:200;
    /*font-style:italic;*/
    margin-top:40px;
    margin-bottom:20px;
    color:var(--text);
    margin-left:2.5%;
}

#others .contestlabel
{
    color:white;
}

#others .pollstitle
{
    margin-left:0;
    align-self:center;
}

#others #polls,#others #announcements
{
    display:flex;
    flex-wrap:wrap;
    color:var(--text);
    height:fit-content;
    width:90%;
}


#others #polls
{
    flex-direction: column;
    margin:40px 0 40px 0;
    font-weight: 300;
    font-style:italic;
    font-size:1.5rem;
    align-items: center;
    justify-content:center;
}

#others #announcements
{
    justify-content:space-around;
    font-size:1.2rem;
    align-items:baseline important;
}

#others #polls .createdby
{
    width:fit-content;
    height:fit-content;
    font-size:1.2rem;
    font-style:normal;
    font-weight:400;
    margin-bottom:40px;
}

#others #polls .createdby::before
{
    display: inline-block;
    margin: 0px 10px 5px 0px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #76D7C4;
    width:25px;
}

#others #polls .createdby::after
{
    display: inline-block;
    margin: 0px 0px 5px 10px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #76D7C4;
    width:25px;
}

#others #polls .polloption::before
{
    content:" ";
    margin-left:15px;
}

#others #polls .polloption
{
    display:flex;
    align-items:center;
    cursor:default;
    border:2px solid var(--buttoncol);
    border:2px solid #76D7C4;
    font-family:'Roboto', sans-serif;
    font-style:normal;
    font-size:1.2rem;
    height:fit-content;
    width:80%;
    padding:10px 0;    
    margin-top:15px;
    border-radius:5px;
}


#others #polls .polloption .countbox 
{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:var(--buttoncol);
    background-color:#76D7C4;
    color:white;
    min-width:25px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    height:35px;
    padding:0 5px;
    margin:auto;
    margin-right:10px;
    max-width: 50px;
    text-align:center;
    border-radius:5px;
}

#others #polls #signin
{
    margin:auto;
    margin-top:30px;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:center;
    font-style:normal;
    font-weight:400;
    font-size:1.2rem; 
}

#others #polls #signin a,#others #polls #signin a:visited,
#others #polls .createdby a,#others #polls .createdby a:visited 
{
    color:#76D7C4;
}

#others .loadmore
{
    background-color: #76D7C4;
    background-color:var(--buttoncol);
    /*margin:auto;*/
    border-radius:8px;
    text-align: center;
    width:150px;
    /*margin-right:1.5%;*/
    margin-top:10px;
    padding:15px 15px;
    color:white;
    font-size:1.1rem;
    -webkit-box-shadow: 0 3px 8px -2px #c0c0c0;
    -moz-box-shadow: 0 3px 8px -2px #c0c0c0;
    box-shadow: 0 3px 8px -2px #c0c0c0;
    cursor:pointer;
}

#others .contestloadmore
{
    /*margin:10px;*/
    margin-bottom:10px;
    -webkit-box-shadow: 0 3px 8px -2px #1C2833;
    -moz-box-shadow: 0 3px 8px -2px #1C2833;
    box-shadow: 0 3px 8px -2px #1C2833;
}

#others .new
{
    margin:auto;
    margin-top:20px;
    margin-right:0.5%;
    -webkit-box-shadow: 0 3px 8px -2px #1C2833;
    -moz-box-shadow: 0 3px 8px -2px #1C2833;
    box-shadow: 0 3px 8px -2px #1C2833;
}

#others #announcements .announcementsholder
{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width:48%;
    min-height:225px;
    height:fit-content;
    margin-bottom:25px;
    -webkit-box-menuhadow: 0 3px 8px -2px #c0c0c0;
    -moz-box-shadow: 0 3px 8px -2px #c0c0c0;
    box-shadow: 0 3px 8px -2px #c0c0c0;
    font-weight:400;
}

/*#others #announcements .announcementsholder .imgholder img
{
    height:100%;
}*/

#others #announcements .announcementsholder .announcementsinfo
{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width:100%;
    height:100%;
    font-family:'Roboto', sans-serif;
}

#others #announcements .announcementsholder .announcementsinfo #idname
{
    display: flex;
    flex-direction:row;
    align-items:center;
    height:fit-content;
    margin:20px;
    margin-bottom:0;
    width:50%;
    color:#76D7C4;
}

#others #announcements .announcementsholder .announcementsinfo #createdtime
{
    font-size:0.9rem;
    margin:20px;
    margin-top:10px;
    margin-bottom:0;
    display:table;
    width:fit-content;
    width: -moz-fit-content;
    white-space:nowrap;
    background-color:#76D7C4;
    color:white;
    padding:5px 5px;
    border-radius:5px;
}

#others #announcements .announcementsholder .announcementsinfo #idname .imgholder
{
    height:30px;
    width:30px;
    margin-right:10px;
    overflow: hidden;
    object-fit: scale-down;
}


#others #announcements .announcementsholder .announcementsinfo #idname .imgholder img
{
    height:100%;
    width:100%;
}


#others #announcements .announcementsholder .announcementsinfo p
{
    margin:20px;
    width:fit-content; 
    height:fit-content;
    text-align:justify;
    line-height:30px;
}

/*#others #announcements .announcementsholder .imgholder
{
    display:flex;
    justify-content:center;
    object-fit: cover;
    overflow:hidden;
    width:205px;
    height:100%;
    background-color: #c0c0c0;
}*/

#others #dummy
{
    width:100%;
    height:73px;
    margin-top:0px;
    background-color:#76D7C4;
    margin-bottom:0;
    z-index:-5;
}

#others .holder
{
    background-image:linear-gradient(to top, rgba(23, 32, 42, 0.20), rgba(0, 0, 0, 0.80)),url(news.jpg);
    background-size:cover;
    width:97.5%;
    margin-left:2.5%;
    padding:30px 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

#others .contestsholder
{
    display:flex;
    flex-direction:column;
    background-image:linear-gradient(to top, rgba(23, 32, 42, 0.20), rgba(0, 0, 0, 0.80)),url(contests.jpg);
    margin-left:0;
    margin-right:2.5%;
    background-size:cover;
}

#others .contestsholder #desc
{
    align-self:center;
    color:white;
    font-size:1.2rem;
    font-style:italic;
    font-weight:200;
}

#others .contestline
{
    background-color:white;
}


#others #news
{
    padding:20px 20px;
    overflow: hidden;
    font-size:1.2rem;
    display:flex;
    align-items: baseline;
    justify-content:space-between;
    flex-wrap:wrap;
    color:var(--text);
    height:fit-content;
    width:90%;
    /*border:2px solid black;*/
}



#others #contests
{
    padding:2% 2%;
    font-size:1.2rem;
    width:90%;
    display:grid;
    gap:1rem;
    color:var(--text);
    overflow:hidden;
    /*padding-bottom:10%;*/
}

#others #contests .cholder p
{
    margin:auto;
    margin-left:5%;
    margin-top:-10px;
    margin-right:5%;
    text-align:justify;
    width:90%;
}

#others #contests .cholder .label
{
    margin-left:5%;   
    margin-top:20px;
    font-size:1.2rem;
    font-weight:300; 
    color:#76D7C4;   
}

#others #news .newsholder
{
    font-family:'Roboto', sans-serif;
    background-color:white;
    width:48%;
    min-height:325px;
    height:fit-content;
    margin-left:0.5%;
    margin-right:0.5%;
    margin-bottom:20px;
    margin-top:20px;
    -webkit-box-shadow: 0 3px 8px -2px #1C2833;
    -moz-box-shadow: 0 3px 8px -2px #1C2833;
    box-shadow: 0 3px 8px -2px #1C2833;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: flex-start;
    cursor: pointer;
}

#others #news .newsholder p
{
    margin-left:5%;
    margin-bottom:0;
   
}

#others #news .newsholder .newstitle
{
    margin-top:40px;
    text-decoration: underline;  
    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    width:90%;
    /*height:30px;*/
    height:max-content;
}

#others #news .newsholder .minuteread
{
    font-size:1rem;
    margin-top:10px;
    color:var(--buttoncol,#76D7C4);
}

#others #news .newsholder .line
{
    margin-top:10px;
    margin-left:5%;
    margin-bottom:20px;
}

#others #news .newsholder .description
{
    margin-top:0;
    width:90%;
    text-align:justify;
    font-size:1.2rem; 
    margin-bottom:40px;
    line-height:30px;
}



#others #contests .cholder
{
    font-family:'Roboto', sans-serif;
    line-height:30px;
    background-color:white;
    -webkit-box-shadow: 0 3px 8px -2px #1C2833;
    -moz-box-shadow: 0 3px 8px -2px #1C2833;
    box-shadow: 0 3px 8px -2px #1C2833;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: flex-start;
    margin-top:10px;
    padding-bottom:20px;
}

#others #contests .box1
{
    width:100%;
    display: grid;
    display: -moz-grid;
    column-gap:1.5rem;
    height:fit-content;
    grid-template-columns: 3fr 4fr;
}

#others #contests .additional
{
    grid-template-columns: 4fr 3fr;
}

#others #contests .ch1
{
    height:fit-content;
    height:-moz-fit-content;
}

#others #contests #loadmoreflex
{
    display:flex;
    width:100%;
    align-items:center;
    justify-content: center;
    height:fit-content;
    margin-bottom:60px;
}



 
@media only screen and (min-width:851px) and (max-width:1000px)
{
    /*#others #announcements .announcementsholder .imgholder
    {
        width:160px;
    }*/  

    #others #announcements .announcementsholder,#others #contests .cholder p,#others #contests .cholder .label
    {
        font-size:1rem;
    }

    #others #news .newsholder .newstitle
    {
    font-size:1rem;
    /*white-space: normal;
    height:fit-content;
    width:90%;*/
    }

    #others #news .newsholder .minuteread
    {
        /*margin-top:5px;*/
        font-size:1rem;
    }

    #others #news .newsholder .description,#others #polls .polloption
    {
        font-size:1rem;
    }

    #others #polls
    {
        font-size:1.2rem;
    }



}


#others #footer
{
    position: absolute;
    left:0;
    width: 98%;
    padding-right:2%;
    background-color: black;
    height:70px;
    display:flex;
    align-items:center;
    justify-content: flex-end;
    font-weight: 300;
    font-size:1rem;
    color:white;
    bottom:0;
}




@media only screen and (max-width: 850px) {

#others .label
{
    font-size:1.7rem;
}

#others #polls .createdby,#others #polls #signin
{
    font-size:1.1rem;
}

#others #announcements,#others #contests
{
    font-size:1rem;
}

#others #polls
{
    margin:30px 0 20px 0;
    font-size:1.1rem;
    text-align: justify;
}

#others #polls .polloption
{
    width:100%;
    font-size:1rem;
}

#others #announcements .announcementsholder
{
    margin-bottom:15px;
    min-height:fit-content;
    width:100%;
}

#others #announcements .announcementsholder .announcementsinfo #createdtime
{
    font-size:0.8rem;
}

#others #news .newsholder
{
    margin-top:5px;
    margin-bottom:5px;
}

#others #contests .cholder
{
    margin-top:0;
    width:100%;
    height:fit-content;
}

#others .loadmore
{
    margin:0;
    margin-top:10px;
    justify-self: center;
    width:100%;
}

#others #contests .cholder .label
{
    font-size:1rem;
}

/*#others #contests .cholder p
{
    margin-left:15px;
    margin-right:15px;
}*/


#others #contests .box1
{
    grid-template-columns: 1fr;
}

#others #news .newsholder .line
{
    margin-left:5%;
}

#others #announcements .announcementsholder .announcementsinfo p
{
    margin-left:20px;
    margin-top:10px;
}

#others #news .newsholder p
{
    margin-left:5%;
    margin-top:10px;
}

#others #news .newsholder .newstitle
{
    margin-top:30px;
    font-size:1rem;
    margin-left:5%;
    /*white-space: normal;
    height:max-content;*/
    width:90%;
}

#others #news .newsholder .minuteread
{
    font-size:0.9rem;
    margin-left:5%;
    /*margin-top:5px;*/
    color:var(--buttoncol,#76D7C4);
}

#others #news .newsholder .description
{
    width:90%;
    font-size:1rem; 
    margin-bottom:30px;
}


#others #footer
{
    justify-content: center;
    padding-right:0;
    width:100%;
}

#others #news .newsholder
{
    min-height:fit-content;
    font-size:1rem;
    width:100%;
    margin-top:2.5%;
}

#others .holder
{
    width:100%;
    margin-left:0;
    margin-right:0;
}

#others .contestsholder
{
    width:100%;
    margin-right:0;
    margin-left:0;
}

#others .contestlabel
{
    align-self: center;
}

#others .contestline
{
    width:75%;
    margin:auto;
    margin-bottom:20px;
}

#others #contests,#others #contests .box1
{
gap:10px;
}
}

@media only screen and (max-height:500px) and (orientation:landscape)
{

#home #maininfo #content
{
    margin-top:-10px;
    font-size:2rem;
}

#home #maininfo #content #info
{
    font-size:1rem;
    width:75%;
    text-align: justify;
}

#home #maininfo #content #buttonholder .button
{
    font-size:1rem;
}

#home #maininfo #content #text #evolve
{
    margin-left:9px;
}

#others .label
{
    font-size:1.7rem;
}

#others #contests .cholder .label,#others #announcements .announcementsholder,#others #contests .cholder p,#others .loadmore,#others .contestloadmore,#others #news .newsholder .newstitle,#others #news .newsholder .description
{
    font-size:1rem;
}

#others #polls
{
font-size:1.3rem;
}

#others #polls .polloption{
    font-size:1rem;
}

#others #news .newsholder .minuteread
{
    font-size:0.9rem;
}

#others #announcements
{
    align-items:baseline;
    height:fit-content;
}

/*#others #announcements .announcementsholder .imgholder
{
    width:170px;
}*/

#others #announcements .announcementsholder .announcementsinfo p
{
    margin-left:20px;
    margin-top:20px;
}

}
