#holder
{
    animation:slidein 0.5s forwards;
    opacity:0;
    transform:translateY(-50px);
    width:100%;
    display:none;
    margin-top:20px;
}

@keyframes slidein {
    100%
    {
        transform: translateY(0);
        opacity:1;
    }
}

#topinfo
{
    margin-top:25px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    height:fit-content;
}


#topinfo #dp
{
    border-radius:50%;
    width:150px;
    background-color:#E8F8F5;
    overflow:hidden;
    align-self:flex-start;
    height:150px;
    display:flex;
    align-items:center;
    justify-content:center;
    object-fit:cover;
}

#topinfo #dp img
{
    height:150px;
}

#topinfo #maindetails
{
    text-align: left;
    display:block;
    line-height: 10px;
    font-size:1.2rem;
    height:fit-content;
    padding:0 20px;
}

#topinfo #enlightenbut
{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    font-family:'Roboto', sans-serif;
    margin-top:0;
    margin-right:0;
    color:#76D7C4;
}

.value
{
    color:#76D7C4;
}

#select
{
    font-size:1.2rem;
    width:100%;
    height:fit-content;
    margin-top:20px;
    display:flex;
}

#select #s1,#select #s2
{
    text-align:center;
    width:50%;
    padding:10px 0;
    cursor:pointer;
}

#select #s1
{
    border-bottom:2px solid #76D7C4;
}

#otherinfo
{
    animation:slidein 0.5s forwards;
    opacity:0;
    transform:translateY(-50px);
    font-size:1.2rem;
    width:100%;
    height:fit-content;
    margin-top:20px;
    padding-bottom:20px;
}

#membergrid
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#membergrid .member,#contactgrid .contact
{
    text-align:center;
    font-family:'Roboto',sans-serif;
    font-size:1.1rem;
    height:fit-content;
    margin:2px;
    padding:10px 0;
    -webkit-box-shadow: 0 3px 8px -2px #c0c0c0;
    -moz-box-shadow: 0 3px 8px -2px #c0c0c0;
    box-shadow: 0 3px 8px -2px #c0c0c0;
}

#membergrid .member p,#contactgrid .contact p
{
    margin-left:10px;
    margin-right:10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

#otherinfo .contents
{
    margin-top:35px;
}

#contactgrid
{
    display:grid;
    grid-template-columns: 1fr;
}

@media screen and (max-width: 769px) {

    #topinfo
    {
        flex-direction: column;
    }

    #topinfo #dp
    {
    width:100px;
    overflow:hidden;
    align-self:center;
    height:100px;
    margin-bottom:15px;
    }

    #topinfo #dp img
    {
    height:100px;
    }

    #topinfo #maindetails
    {
        width:100%;
        box-sizing: border-box;
        font-size:1rem;
    }

    #topinfo #maindetails p
    {
        text-align:center;
        overflow:hidden;
        padding:10px 0; 
        margin:2.5px !important;
        text-overflow:ellipsis;
        white-space: nowrap;
        width:100%;
    }

    #topinfo #enlightenbut
    {
    flex-direction: row;
    align-items: center;
    margin-left:0;
    padding:10px;
    margin-top:20px;
    font-family:'Roboto', sans-serif;
    font-size:0.9rem !important;
    color:#76D7C4;
    }

    #topinfo #enlightenbut > div:nth-child(2)
    {
        margin-top:5px !important;
        margin-left:20px;
    }


    #select
    {
        font-size:1rem;
        
    }

    #otherinfo
    {
        width:100%;
    }

    
    #otherinfo .contents
    {
        margin-top:10px;
    }

    #membergrid,#contactgrid
    {
        grid-template-columns:1fr;
    }

    #membergrid .member,#contactgrid .contact
    {
        overflow:hidden;
    }

    #membergrid .member p,#contactgrid .contact p,#otherinfo
    {
        font-size:1rem;
    }

    .contents > p:nth-child(1)
    {
        font-size:1.3rem !important;
    }

}