:root
{
    --maincolor: #76D7C4;
}

html
{
    overflow-y:scroll;
}

body
{
    background: url("regbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.main-container
{
    font-size: 16px;
    font-weight: 600;
    margin:20px auto;
    width: 40%;
    height: auto;
    padding: 35px 70px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text
{
    margin:0 auto;
    text-align: center;
}
.progressbar
{
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border:2px solid var(--maincolor);
    border-radius: 5px;
    margin:20px 0;
    text-align: center;
    
}
.btn-modify
{
    background: var(--maincolor) !important;
}
.header
{
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

#secondstep
{
    display: none;
}

#startup_form
{
    display: none;
}

#general_form
{
    display: none;
}

#mentor_form
{
    display: none;
}

#thirdstep
{
    display: none;
}
.img-holder
{
    text-align: center;
    margin:15px auto;
}
#dp
{
    width:100px;
}
#social
{
    width: 300px;
}
#redirect
{
    font-size: 16px;
    font-weight: 600;
    margin:0 auto;
    padding: 20px;
    text-align: center;
}
.footer
{
    text-align: center;
    margin: 15px auto;
}